.section-title:before{
    content: '';
    position: absolute;
    top: 60px;
    left: 50%;
    width: 140px;
    height: 4px;
    background-color: #3a6cf4;
    transform: translateX(-50%);
  }
  
  .section-title:after{
    content: '';
    position: absolute;
    top: 54px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #3a6cf4;
    transform: translateX(-50%);
  }